/weights/*
!/weights/ch_PP-StructrureV2_SLANet_plus_trained.pdparams
/lib/__pycache__/
/lib/Arch/__pycache__/
/lib/CSPPAN/__pycache__/
/lib/PPLCNet/__pycache__/
/lib/SLAHead/__pycache__/
/debug_data/*